{% extends 'bootstrap/base.html' %}


{% block title %}
quickanban
{% endblock %}


{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='kanban.css')}}">
<script src="https://kit.fontawesome.com/71f71254fc.js" crossorigin="anonymous"></script>
{% endblock %}
<!-- navbar -->
{% block navbar %}

<head>
  <link rel="stylesheet" href="{{url_for('.static', filename='navbar.css')}}">
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">quickanban</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %}

{% block content %}
<div class="upperhead">
  <h1>{{ name }}'s Board</h1>
  <h2>
    <script type="text/javascript">
          var myDate = new Date(); 
          document.write(myDate.toDateString()); 
          document.write("<br/>"); 
    </script>
  </h2>
  <hr>
  <!-- Form at top of page - this is where you add new tasks-->
  <p>Input a new task:</p>
  <div class="form-group">
  <form action="/board" method="POST">
      <div id="wrapper">
          <input type="text" name="content" id="content">
      </div>
      <br>
      <input type="submit" value="Create Task" class="submit-button">
  </form>
  </div>
  <hr>
</div>
  <!-- The board itself -->
<div id="bottomhalf">
  <div class="Board">

      {% if notstarted|length < 1 and inprogress|length < 1 and completed|length < 1 %}

      <div class="header">
        <h4>There are no tasks. Create one!</h4>
      </div>

      {% else %}
      <div class="Column" id="notstarted">
          <h3>Not Started</h3>
          <hr>
          {% for task in notstarted %}
          {{ task.content }}
          <a href="/delete/{{ task.id }}" class="link"><i class="fas fa-trash-alt" id="icon1"></i></a>
          <a href="/update/{{ task.id }}" class="link"><i class="fas fa-sync-alt" id="icon2"></i></a>
          <a href="/rightmove/{{ task.id }}/{{ task.status }}" class="link"><i class="fas fa-arrow-alt-circle-right" id="icon3" style="float:right"></i></a>
          <br>
          <br>
          {% endfor %}

      </div>
      <div class="Column" id="inprogress">
          <h3>In Progress</h3>
          <hr>
          {% for task in inprogress %}
          <a href="/leftmove/{{ task.id }}/{{ task.status }}" class="link"><i class="fas fa-arrow-alt-circle-left" id="icon4" style="float:left"></i></a>
          {{ task.content }}
          <a href="/delete/{{ task.id }}" class="link"><i class="fas fa-trash-alt" id="icon5"></i></a>
          <a href="/update/{{ task.id }}" class="link"><i class="fas fa-sync-alt" id="icon6"></i></a>
          <a href="/rightmove/{{ task.id }}/{{ task.status }}" class="link"><i class="fas fa-arrow-alt-circle-right" id="icon7" style="float:right"></i></a>
          <br>
          <br>
          {% endfor %}

      </div>
      <div class="Column" id="completed">
          <h3>Complete</h3>
          <hr>
          {% for task in completed %}
          <a href="/leftmove/{{ task.id }}/{{ task.status }}" class="link"><i class="fas fa-arrow-alt-circle-left" id="icon8" style="float:left"></i></a>
          {{ task.content }}
          <a href="/delete/{{ task.id }}" class="link"><i class="fas fa-trash-alt" id="icon9"></i></a>
          <a href="/update/{{ task.id }}" class="link"><i class="fas fa-sync-alt" id="icon10"></i></a>
          <br>
          <br>
          {% endfor %}

      </div>
      {% endif %}
  </div>
</div>

{% endblock %}