{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}

<h1>quickanban</h1>
        
<!-- Form at top of page - this is where you add new tasks-->
<div class="form">
    <form action="/" method="POST">
        <label>Input a new task:</label>
        <input type="text" class="button-style" name="content" id="content">
        <br>
        <input type="submit" class="button-style" value="Create Task">
    </form>
</div>

<hr>

<!-- The board itself -->
<div class="Board">

    {% if notstarted|length < 1 %}
    <!-- + inprogress|length + completed|length -->
    <h3>There are no tasks. Create one!</h3>

    {% else %}
    <div class="Column" id="notstarted">
        <h3>Not Started</h3>

        {% for task in notstarted %}
        {{ task.content }}
        <a href="/delete/{{ task.id }}" class="link">Delete</a>
        <a href="/update/{{ task.id }}" class="link">Update</a>
        <br>
        {% endfor %}

    </div>
    <div class="Column" id="inprogress">
        <h3>In Progress</h3>

        {% for task in inprogress %}
        {{ task.content }}
        <a href="" class="link">Delete</a>
        <a href="" class="link">Update</a>
        {% endfor %}

    </div>
    <div class="Column" id="complete">
        <h3>Complete</h3>

        {% for task in completed %}
        {{ task.content }}
        <a href="" class="link">Delete</a>
        <a href="" class="link">Update</a>
        {% endfor %}

    </div>
    {% endif %}
</div>

{% endblock %}