{% extends "bootstrap/base.html" %}

{% block title %}
Home
{% endblock %}
<!-- navbar -->
{% block navbar %}

<head>
  <link rel="stylesheet" href="{{url_for('.static', filename='navbar.css')}}">
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">quickanban</a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
        </ul>
      </div>
    </div>
</nav>

{% endblock %}

{% block content %}

  <div class="containers">

    <div class="home-header" id="title">
      <h1>quickanban</h1>
      <p class="lead">Welcome to the top performing kanban board.<br> All you need is quickanban.</p>
    </div>

  </div><!-- /.container -->

{% endblock %}